<header>
  <h1>Jack Henley's Jolly Hawk &clubs; ITIS3135</h1>
  <nav>
    <a href="/index.html">Home Page</a>
    <a href="/itis3135/contract.html">Contract Page</a>
    <a href="/itis3135/introduction.html">My introduction page</a>

    <!--TODO: Crappy page needs to go in secondary menu-->

    <a href="/stuff/AWEsomePage😎.htm">Crappy Page</a>
    <a href="/itis3135/website-evaluations.html">Website Evaluations</a>
    <a href="/itis3135/survey.html">Survey</a>
    <a href="/itis3135/gallery.html">Gallery</a>
    <a href="/itis3135/inventory.html">Inventory</a>
    <a href="/itis3135/instructions.html">Instructions</a>
    <a href="/itis3135/highlight.html">Highlight</a>
  </nav>
</header>
