<header>
  <h1>Jack Henley's Jolly Hawk &clubs; ITIS3135</h1>
  <br>
  <nav id="main-menu">
    <a href="../index.html">Home Page</a>
    <a href="contract.html">Contract Page</a>
    <a href="introduction.html">My introduction page</a>
    <a href="website-evaluations.html">Website Evaluations</a>
    <a href="survey.html">Survey</a>
    <a href="gallery.html">Gallery</a>
    <a href="inventory.html">Inventory</a>
    <a href="instructions.html">Instructions</a>
    <a href="highlight.html">Highlight</a>
    
  </nav>

  <br>

  <nav id="second-menu">
    <a href="stuff/AWEsomePage😎.htm">Crappy Page</a>
    <a href="hobby/index.html#who">Hobby</a>
    <a href="intro_form.html">Intro Form</a>
    <a href="project_overview.html">Project Overview</a>
    <a href="jackhenleydesigns/design">Design Firm</a>
    <a href="projects/index.html">Procedure Insights</a>
  </nav>
</header>
