<header>
  <h1>Jack Henley's Jolly Hawk &clubs; ITIS3135</h1>
  <nav>
    <a href="../index.html">Home Page</a>
    <a href="contract.html">Contract Page</a>
    <a href="introduction.html">My introduction page</a>

    <!--TODO: Crappy page needs to go in secondary menu-->

    <a href="stuff/AWEsomePage😎.htm">Crappy Page</a>
    <a href="website-evaluations.html">Website Evaluations</a>
    <a href="survey.html">Survey</a>
    <a href="gallery.html">Gallery</a>
    <a href="inventory.html">Inventory</a>
    <a href="instructions.html">Instructions</a>
    <a href="highlight.html">Highlight</a>
    <a href="../../hobby/index.html#who"></a>
  </nav>
</header>
